@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}
<div>
    <span >
        <a  class="navlink" href="/Teacher/List">Back To Teachers</a>
    </span>

    <span >
        <a style="float:right;" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </span>

</div>
<div>
    <a href="/Teacher/Edit/@Model.TeacherId">Edit</a>
</div>
<div id="containershow">
    <div>
        <label>Teacher Name:</label>
        <span class="name" style="font-size: 20px;">@Model.TeacherFname @Model.TeacherLname</span>
    </div>
    <div>
        <label>Teacher Id:</label>
        <span>@Model.TeacherId</span>
    </div>
    <div>
        <label>Employee Number:</label>
        <span>@Model.TeacherNumber</span>
    </div>
    <!--<div>
        <label>Employee Salary:</label>
        <span>@Model.TeacherSalary</span>
    </div>
        -->

</div>