@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div>
    <a class="navlink" href="/Teacher/List">Back To Teachers</a>
</div>
<div id="containershow">
    <div>
        <label>Teacher Name:</label>
        <span class="name">@Model.TeacherFname @Model.TeacherLname</span>
    </div>
    <div>
        <label>Teacher Id:</label>
        <span>@Model.TeacherId</span>
    </div>
    <div>
        <label>Employee Number:</label>
        <span>@Model.TeacherNumber</span>
    </div>
    <div>
        <label>Employee Salary:</label>
        <span>@Model.TeacherSalary</span>
    </div>


</div>